[submodule "bie-index"]
	path = bie-index
	url = https://github.com/AtlasOfLivingAustralia/bie-index.git
[submodule "bie-plugin"]
	path = bie-plugin
	url = https://github.com/AtlasOfLivingAustralia/bie-plugin.git
[submodule "biocache-hubs"]
	path = biocache-hubs
	url = https://github.com/AtlasOfLivingAustralia/biocache-hubs.git
[submodule "biocache-service"]
	path = biocache-service
	url = https://github.com/AtlasOfLivingAustralia/biocache-service.git
[submodule "collectory-plugin"]
	path = collectory-plugin
	url = https://github.com/AtlasOfLivingAustralia/collectory-plugin.git
[submodule "downloads-plugin"]
	path = downloads-plugin
	url = https://github.com/AtlasOfLivingAustralia/downloads-plugin.git
[submodule "regions"]
	path = regions
	url = https://github.com/AtlasOfLivingAustralia/regions.git
[submodule "spatial-hub"]
	path = spatial-hub
	url = https://github.com/AtlasOfLivingAustralia/spatial-hub.git
[submodule "spatial-service"]
	path = spatial-service
	url = https://github.com/AtlasOfLivingAustralia/spatial-service.git
[submodule "specieslist-webapp"]
	path = specieslist-webapp
	url = https://github.com/AtlasOfLivingAustralia/specieslist-webapp.git
[submodule "userdetails"]
	path = userdetails
	url = https://github.com/AtlasOfLivingAustralia/userdetails.git
