#!/usr/bin/make -f

# https://www.debian.org/doc/manuals/maint-guide/dreq.en.html#rules
# See also:
#
# man debhelper
# man dh

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

%:
	dh $@

build:
	# messages are used by CAS and our ala-cas-5 uses custom_messages for the rest,
	# but we package it as messages_* like the others ALA modules
	rename 's/custom_//g' ala-cas-5/src/main/resources/custom_messages*.properties

override_dh_fixperms:
	dh_fixperms
	find debian/ala-i18n/opt/atlas/i18n -type f -exec chmod 644 {} \;
